html{
    font-family: sans-serif;
    color: rgb(50, 50, 50);
    font-size: 1rem;
}
p.divider{
    font-size: 1.5rem;
    color:black;
}


a{
    color: rgb(51, 51, 51);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a.white{
    color: white;
}
a.white:hover{
    color: darkgray
}
a.blue{
    color: rgb(67, 127, 206);
}
a.blue:hover{
    color: rgb(192, 8, 8);
}


main{
    width: 70%;
    margin: 0 auto;
}
img{
    box-shadow: 0 0 3px 0.1px black;    
    width: clamp(17rem, 75%, 40rem);
}
img:hover{
    box-shadow: 0 0 3px 0.5px black;
}


button{
    color:white;
    font-weight: bold;
    font-size: clamp(1rem, 1.3vw, 1.3rem);
    border-style: none;
    padding: clamp(0.7rem, 1.3vw, 0.9rem);
    padding-right: 3rem;

    text-align: left;
    box-shadow: 0 0 5px 0.5px black;
}
button.color1{
    background-color: rgb(67, 127, 206);
}
button.color1:hover{
    background-color: orange;
}
button.color2{
    background-color: grey;
}
button.color2:hover{
    background-color: rgb(66, 66, 66);
}

section{
    text-align: center;
    margin-right: auto;
    padding: 1rem;
    line-height: 1.4rem;
    width: clamp(15rem, 75%, 25rem);
}
section.links1{
    color: white;
    background-color: rgb(66, 66, 66);
    border-radius: 0.8rem;
}

h1{ font-size: clamp(1.6rem, 2vw, 3rem); font-weight: bold; }
h2{ font-size: clamp(1.2rem, 2vw, 2rem); font-weight: bold; }
h3{ font-size: clamp(0.7rem, 2vw, 1rem); font-weight: bold; }
b{ font-size: clamp(1.6rem, 2vw, 3rem); font-weight: normal; color:black}

div{
    width: clamp(15rem, 50%, 45rem);
    font-size: clamp(0.7rem, 2vw, 1rem);
    border-radius: 5px;
}
div.bg {
    color: white;
    background-color: rgb(66, 66, 66);
    padding: clamp(0.9rem, 2vw, 1.5rem);
}

ul{
    list-style-image: url('img/list.png');
    list-style-position: inside;
    float: left;
    margin-right: 2rem;
}
ul li { margin: 5px; }
ol{
    list-style-type: decimal;
    list-style-position: inside;
    line-height: clamp(1.17rem, 2vw, 1.2rem);
}
ol li { margin: 5px; } li::marker { color:orange; }
.listhover { padding: 2rem; margin-right: auto; }
.listhover:hover{
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
    color: white;
}

figure{ display:inline }
figure.x2 img{
    width: clamp(6rem, 40%, 30rem);
    margin: 0.5rem;
}
figure.x3 img{
    width: clamp(4.1rem, 25%, 20rem);
    margin: 0.3rem;
}

table, th, td{
    border: 3px solid black;
    border-collapse:collapse;
    color: black;
    padding: 3rem;
}
th{
    background-color: rgb(196, 196, 196);
    font-weight: bold;
}